.link-bar{
    background: rgba(158,158,158,.2);
    height: 25px;
    text-align: right;
    transition: height .25s linear,zIndex 0s linear .25s;
}
.link-item>a {
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.link-item{
    position: relative;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    color: #212121;
    transition: color .2s; 
    padding: 0 17px;
}
.link-item a {
    color: #000;
    font-size: 11px;
}

.link-item a:hover {
    color: #f57224;
}
.logo-bar {
    height: 75px;
    padding-top: 11px;
    background: #fff;
}
.logo-content {
    width: 200px;
    height: 40px;
    vertical-align: top;
    display: inline-block;
}

.logo-content a {
    float: left;
}

.logo-content a img {
    width: 135px;
    height: 41px;
}
.logo-content-seearchbar{
    width: 688px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: #fff;  
    position: relative;
}
.searchbox-content {
    width: 100%;
    position: relative;
    height: 45px;
}
.searchbox-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}
.searchbar-input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 13px 19px;
    font-family: Roboto-Regular,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    color: #212121;
    border: none;
    outline: none;
    background: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}
.searchbar-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    line-height: 1;
}
.searchbar-button button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #f57224;
    background-size: 22px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.logo-content-offter {
    position: absolute;
    right: 0;
    top: 0;
}
.logo-content-offter img {
    width: 188px;
    height: 45px;
    display: block;
}
.logo-content-cart {
    position: relative;
    display: inline-block;
    margin: 0 0 0 20px;
    top: -10px;
}
span.cartIcon {
    font-size: 38px;
    color: #000;
}
.category-menu {
    width: 183px;
    background: #fff;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.category-menu ul li a {
    font-size: 13px;
    color: #757575;
    line-height: 27px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.slider-image img {
    height: 334px;
}
.product-container {
    background: #f7f7f7;
    overflow: hidden;
}


.product-section {
    background: #fff;
    position: relative;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.product-title {
    height: 38px;
    line-height: 18px;
}

.offer-section {
    width: 100%;
    font-size: 15px;
    padding: 4px 3px;
    margin-bottom: 1px;
    text-align: right;
}

.offervalue {
    display: inline-block;
    background: #009f7f;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.stockvalue {
    
    display: inline-block;
    text-align: right;
}
.single-image {
    width: 100%;
}

.single-product-image-section {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.single-image {
    width: 100%;
    height: 100%;
}

.single-image a img {
    width: 100%;
    height: 100%;
    
}
.priceSection {
    padding: 5px 0px;
    font-size: 15px;
}

.priceSection span {
    margin-right: 8px;
}
.product-title p {
    margin: 0px;
    font-size: 14px;
}
.addToCart {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}
.addToCart p {
    margin: 0;
    background-color: #33a893;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    padding: 7px 0px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}
.addToCart p:hover {
    background: #009f7f;
    opacity: 1;
    color: #fff;
}
.hover02 figure img {
	width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	width: 350px;
}

.cart-position-section {
    position: fixed;
    top: 50%;
    right: 0;
    background: #33a893;
    width: 110px;
    border-radius: 8px;
    cursor: pointer;
    height: 85px;
}
.productmiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Modal start */




/* Modal End */



/*--------------------------------
      FOOTER CONTENT STYLES
---------------------------------*/

footer {
    flex: 0 0 auto;
    color: #a8a8a8;
    background-color: #161a21;
   
}

.footer .social-icon {
    color: #fff;
    background-color: #161a21;
    margin-bottom: 0;
    width: 3.4rem;
    height: 3.4rem;
    font-size: 1.3rem
}

.footer .social-icon+.social-icon {
    margin-left: .4rem
}

.footer .social-icon:hover,
.footer .social-icon:focus {
    color: #fff;
    background-color: #fa4a4a
}

.footer-middle {
    padding: 5.4rem 0 .8rem;
    letter-spacing: .005em
}

.footer .widget-title {
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 2.5rem
}

.footer .widget {
    margin-top: 20px;
}
.footer .links {
    margin-bottom: 0
}

.footer .links li {
    position: relative;
    font-weight: 300;
    margin-bottom: .6rem
}

.footer a {
    color: inherit
}

.footer a:hover,
.footer a:focus {
    color: #fff;
    text-decoration: none
}

.contact-info {
    margin-top: -.08rem;
    margin-bottom: 0
}

.contact-info li {
    position: relative;
    line-height: 1.4;
    margin-bottom: 1.2rem
}

.contact-info-label {
    display: block;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .02em
}

.widget-newsletter p {
    margin-bottom: 2.4rem;
    line-height: 1.67;
    max-width: 290px
}

.widget-newsletter form {
    position: relative;
    margin-bottom: 0;
    max-width: 370px
}

.widget-newsletter .form-control {
    height: 4.2rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1;
    color: #95958e;
    border: 0;
    border-bottom: 1px solid #1f232f;
    background-color: transparent;
    padding: 1.15rem 11rem 1.15rem 0;
    margin-bottom: 1rem;
    border-radius: 0
}

.widget-newsletter .form-control:focus {
    color: #95958e;
    border-color: #353a3e;
    background-color: transparent
}

.widget-newsletter .form-control::-webkit-input-placeholder {
    color: #95958e
}

.widget-newsletter .form-control:-ms-input-placeholder {
    color: #95958e
}

.widget-newsletter .form-control::-ms-input-placeholder {
    color: #95958e
}

.widget-newsletter .form-control::placeholder {
    color: #95958e
}

.widget-newsletter .btn {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .03em;
    color: #fa4a4a;
    border-color: transparent;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 0;
    padding: 1.35rem 0;
    min-width: 0;
    text-align: center
}

.widget-newsletter .btn:hover,
.widget-newsletter .btn:focus {
    color: #fff;
    border-color: transparent;
    background-color: transparent
}

.widget-newsletter .btn i {
    position: relative;
    top: -.1rem
}

.footer-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 4.6rem;
    border-top: 1px solid #1f232f
}

.footer-bottom .social-icon {
    margin-bottom: 0
}

.footer-copyright {
    color: #a8a8a8;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem
}

.footer-payments {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem
}

.productTitle {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.cartPrice {
    background: #fff;
    height: 30px;
    width: 61px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}